@import "../../node_modules/bootstrap-4-vertical-tabs/scss/custom-variables";
@import "../../node_modules/bootstrap-4-vertical-tabs/scss/responsive-vertical-tabs";

:host {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.app-container {
    height: 100vh;
}

.canvas {
    background-image: url('../assets/canvas.png');
    padding: 50px;

    #btnDownload {
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}

.invisible-tabs {
    .mat-tab-header {
        display: none;
    }
}

.mat-tab-group {
    .mat-tab-body-wrapper {
        flex-grow: 1;
    
        .mat-tab-body .mat-tab-body-content {
            padding: 8px;
        }

        .mat-tab-body:nth-child(1) .mat-tab-body-content {
            padding: 0px;
        }

    }
}
