<mat-sidenav-container class="app-container">
  <mat-sidenav opened mode="side" position="end" class="h-100" style="width: 360px" *ngIf="!model.isHandset">
    <div class="h-100 d-flex">
      <ng-template *ngTemplateOutlet="template1" class="flex-grow-1"></ng-template>

      <div class="border-left" style="width: 45px;">
        <ul class="nav sideways-tabs nav-tabs right-tabs" style="right: 1.95rem;">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ active: model.selected == 1 }" (click)="model.selected = 1">Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ active: model.selected == 2 }" (click)="model.selected = 2">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ active: model.selected == 3 }" (click)="model.selected = 3">Style</a>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="h-100">
    <ng-template [ngTemplateOutlet]="posterPreview" *ngIf="!model.isHandset"></ng-template>

    <ng-template class="h-100" [ngTemplateOutlet]="template1" *ngIf="model.isHandset"></ng-template>
  </mat-sidenav-content>

  <ng-template #template1>
    <mat-tab-group class="h-100 w-100" [ngClass]="{ 'invisible-tabs': !model.isHandset }" mat-stretch-tabs headerPosition="below" animationDuration="0ms" [selectedIndex]="model.selected">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>preview</mat-icon>
        </ng-template>

        <ng-template [ngTemplateOutlet]="posterPreview" *ngIf="model.isHandset"></ng-template>
      </mat-tab>
      
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>perm_media</mat-icon>
        </ng-template>

        <app-poster-templates (onSelectionChange)="onTemplateChanged($event)"></app-poster-templates>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>details</mat-icon>
        </ng-template>

        <app-event-details [event]="model.event"></app-event-details>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>style</mat-icon>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #posterPreview>
    <div class="h-100 canvas">
      <ng-container #preview></ng-container>

      <button id="btnDownload" type="button" class="btn btn-primary" (click)="downloadPoster()">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
          <path fill-rule="evenodd"
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
      </button>
    </div>
  </ng-template>
</mat-sidenav-container>