<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 <%= orientation === 1 ? 793 : 1122 %> <%= orientation === 1 ? 1122 : 793 %>">
    <g>
        <rect id="background" width="100%" height="100%" fill="#ffffff" />
    </g>
</svg>