/* You can add global styles to this file, and also import other style files */

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/close";

body {
    height: 100vh;
    overflow: hidden;
}
